/* // <uniquifier>: Use a unique and descriptive class name

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
} */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
html{
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing: inherit;
}

body{
  font-family: 'lato';
  font-size: normal;
  font-size: 16px ;
  line-height: 1.2;
  font-weight: normal;
  color:gray;
}

/* header style start */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:green;
}

.wrapper{
  max-width: 1060px;
  margin: 0 auto;
}

.header-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content:space-between;
  padding-top: 56px;
}
  

.header-list{
  display: flex;
    flex-wrap: wrap;

}

.header-item{
  margin-right: 82px;
}
.header-item:last-child{
  margin-right: 0;
}
.header-link{
  font-family: Lato;
font-size: 18px;
line-height: 24px;
color: white;
text-decoration: none;
}
.header-link:hover,.header-link:focus,.header-link:active{
  opacity: .75;
}
/* header style end */




/* intro style start */

.intro{
  height: 100vh;
  background: url(/jpg/Hero.png) no-repeat;
}



/* intro style end */